:root {
    --color-bg: #fff;
    --color-bg-card: #f0f2f9;
    --color-bg-card-hover: #e0e4f0;
    --facebook: #198ff5;
    --twitter: #1ca0f2;
    --ins-start: #fdc468;
    --ins-mid: #ee867c;
    --ins-end: #df4996;
    --youtube: #c4032a;
    --green: #1db489;
    --red: #dc414c;
    --dark-text: #1e202a;
    --light-text: #63677e;
    --toggle-light: #868cac;
    --toggle-btn-start: #3eda82;
    --toggle-btn-end: #378fe6;
    --toggle-btn: background-image: linear-gradient(to right, var(--toggle-btn-start), var(--toggle-btn-end));

}