:root {
    --color-bg: #fff;
    --color-bg-card: #f0f2f9;
    --color-bg-card-hover: #;
    --facebook: #198ff5;
    --twitter: #1ca0f2;
    --ins-start: #fdc468;
    --ins-mid: #ee867c;
    --ins-end: #df4996;
    --youtube: #c4032a;
    --green: #1db489;
    --red: #dc414c;
    --dark-text: #1e202a;
    --light-text: #63677e;
    --toggle-light: #868cac;
}