@use '../globals'as *;
@use '../utilities'as *;

.social-media {
    margin: 0 rem(20);

    &__container {
        max-width: rem(1024);
        margin: 0 auto;
    }

    &__header {
        @include flexbox(center, space-between);
        margin: rem(36) 0 rem(46) 0;

        @media screen and(max-width:700px) {
            @include flexbox(column);
        }
    }

    .header {
        &__title {
            h1 {
                font-size: 2.8rem;
                color: var(--dark-text);
            }
        }

        &__sub {
            font-size: 1.4rem;
            color: var(--light-text);
            font-weight: 700;
        }

        &__toggle {
            @include flexbox(center);

            &--title {
                font-size: 1.4rem;
                font-weight: 700;
                color: var(--toggle-light);
                margin-right: rem(16);
            }
        }
    }

    &__overview {
        h2 {
            margin-bottom: rem(24);
            font-size: 2.4rem;
            color: var(--light-text);
            line-height: 1.1;
        }
    }

    &__dashboard {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: rem(20);
        margin-bottom: rem(46);

        @media screen and (max-width: 1150px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);

        }
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: rem(20);

        @media screen and(max-width:1150px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }
    }

    &__dashboard,
    .cards {
        @media screen and(max-width:700px) {
            grid-template-columns: auto;
            grid-template-rows: auto;
        }

    }

}

footer {
    font-size: 1.1rem;
    text-align: center;
    margin: rem(20) 0;

    a {
        font-size: inherit;
    }
}