@use '../globals';
@use '../utilities';

.card {
    background-color: var(--color-bg-card);
    border-radius: 5px;
    padding: 16px;
    text-align: center;
    color: var(--light-text);

    &__flatform {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__change {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon {
        margin-right: 8px;
    }
}