@use '../globals';
@use '../utilities';

.card {
    background-color: var(--color-bg-card);
    border-radius: 5px;
    padding: 16px;
    text-align: center;
    color: var(--light-text);

    &__username {
        font-size: 1.2rem;
    }

    &__flatform {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 0 28px 0;
    }

    &__change {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__count {
        font-size: 5.6rem;
        color: var(--dark-text);
        font-weight: 700;
        letter-spacing: -2px;
    }

    &__icon {
        margin-right: 8px;
    }
}