@use '../globals';
@use '../utilities';

.card {
    background-color: var(--color-bg-card);
    border-radius: 5px;
    padding: 16px;
    text-align: center;
    color: var(--light-text);
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        background-color: var(--color-bg-card-hover);

    }

    &__username {
        font-size: 1.2rem;
        font-weight: 700;
    }

    &__flatform {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 0 28px 0;
    }

    &__followers {
        margin-bottom: 25px;
    }

    &__count {
        font-size: 5.6rem;
        color: var(--dark-text);
        font-weight: 700;
        letter-spacing: -2px;
        line-height: 1;
    }

    &__label {
        font-size: 1.2rem;
        letter-spacing: 3px;
        font-weight: 400;
    }

    &__icon {
        margin-right: 8px;
    }

    &__change {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        font-weight: 700;

        &--up {
            color: var(--green);
        }

        &--down {
            color: var(--red);
        }
    }

    &__number {
        font-size: 1.2rem;
        margin-left: 4px;
    }

    &--facebook {
        border-top: 5px solid var(--facebook);
    }

    &--twitter {
        border-top: 5px solid var(--twitter);
    }

    &--youtube {
        border-top: 5px solid var(--youtube);
    }

    &--instagram {
        position: relative;

        &::before {
            content: '';
            display: block;
            position: absolute;
            background: linear-gradient(to right, var(--ins-start), var(--ins-mid), var(--ins-end));
            height: 5px;
            width: 100%;
            left: 0;
            top: 0;
        }
    }

}

.card-grid {
    &__heading {
        margin-bottom: 20px;
    }

    &__heading,
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 1.4rem;
        font-weight: 700;
        color: var(--light-text);
    }

    &__count {
        font-size: 3.2rem;
        font-weight: 700;
        color: var(--dark-text);
    }

    &__change {
        display: flex;
        align-items: center;
    }

    &__number {
        font-size: 1.2rem;
        margin-left: 4px;
        font-weight: 700;
    }
}